@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

:root{
    --text_color: #000000;
    --text_buttons: #ffffff;
    --bg_buttons: #0057FF;
    --blue: #0057FF;
    --light: #ffffff;
    --footer-color: #000000;
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
}

body {
    font-family: 'Oswald', sans-serif;
    color: var(--text_color);
    font-size: 14px;
    line-height: 26px;
    background: var(--light);
    
   
}

header {
    padding: 15px 0;   
}

.wrapper {
    max-width: 1200px; 
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: aqua; */
}

.header__wrapper {
    align-items: center;
}


.header__logo {
    margin: 0 50px 0 0;
}

.menu {
    display: flex;
    align-items: center;
}

.menu_mobile {
    display: none;
}

.menu__item {
    padding: 5px 21px;
    position: relative;
}

.menu__item::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f09636, #00adf9, #8a2eff);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s;
}

.menu__item:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.button {
    color: var(--text_buttons);
    background: var(--bg_buttons);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    border-radius: 30px;
}

.header__button-container {
    margin-left: auto;
}

.header__button {
    width: 193px; 
}

.button:hover {
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
    0% {
        box-shadow:
        0 0 5px #5ddcff,
        0 0 10px #4e00c2;
    }
}

.burger {
    display: none;
}

.layout__section {
    position: relative;
}

.promo {
    padding: 52px 0 0 0;
}

.promo__wrapper{
    justify-content: space-evenly;

}

.promo__description{
    display: flex;
    flex-direction: column;
    width: 485px;
    justify-content: center;
}

.promo__title {
    font-size: 56px;
    line-height: 66px;
    text-transform: uppercase;
    margin: 0 0 52px 0;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.client__card {
    display: flex;
    align-items: center;
    margin: 0 0 40px 0;
    
}

.client__comment {
    margin: 0 0 20px 0;
}

.client__avatar-container {
    margin: 0 20px 0 0;
}

.avatar__image {
    display: block;
}

.client__info {
    display: flex;
    flex-direction: column;
}


.client__name {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 10px 0;
}

.client__rating {
    display: flex;
    
}

.promo__button {
    width: 176px;
    background: #FFA332;
}

.promo__button:hover {
    animation: pulsate_promo 1s ease-in-out;
}

.promo__image {
    display: block;
    max-width: 100%; 
}

@keyframes pulsate_promo {
    0% {
        box-shadow:
        0 0 5px #5ddcff,
        0 0 10px #FFA332;
        ;
    }
}

.technology {
    padding: 40px 0 100px;
}

.technology__wrapper {
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: var(--blue);
}


.technology__title {
    margin-bottom: 5px;
}

.technology__subtitle {
    text-align: center;
    margin: 0 0 40px 0;
}

.subtitle {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 1px;
}

.techonoly__text {
    text-align: center;
    max-width: 680px;
    margin: 0 0 45px 0;
}

.technology__image-container {
    margin: 0 0 40px 0;
}

.technology__image {
    display: block;
    max-width: 100%;
}

.technology__link {
    letter-spacing: 0.5px;
}

.info {
    padding: 100px 0 130px;
}

.info__wrapper {
    justify-content: space-between;
}

.about {
    display: flex;
    flex-direction: column;
    max-width: 490px;
    justify-content: center;
}



.about__subtitle {
    margin:0 0 45px;
}

.about__text {
    margin:0 0 35px;  
}

.about__advantages {
    display: grid;
    grid-template-columns: 195px 170px;
    justify-content: space-between;
    margin: 0 0 30px;
}

.card {
    display: flex;
    flex-direction: column;
    
}

.card__icon-container {
    margin: 0 0 28px;
}

.card__icon {
    display: block;
}

.card__title {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 36px;
    margin: 0 0 16px;
}


.card__text {
    font-size: 14px;
    line-height: 24px;
}

.about__button {
    width: 140px;
}

.contact {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 8px 28px 0px #53535326;

}

.contact__image {
    display: block;
}

.form {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 55px 40px;
}

.form__title {
    text-transform: uppercase;
    font-size: 29px;
    line-height: 40px;
    margin: 0 0 26px;
}

.form__text {
    margin: 0 0 17px;
}

.form__user-contacts {
    border: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px  ;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 25px; */
    justify-content: space-between;
    margin: 0 0 35px;

}


.form__group {
    position: relative;
}

.form__input, 
.form__label {
    font-size: 15px;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s ease-in;
}


.form__input {
    outline: none;
    background: #f8f8f86c;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    width: 218px;
    height: 60px;
    padding: 0 25px 0 25px;
}

.form__label {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 25px;
}

.form__input:focus {
    border: 1px solid #0057FF;
    
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label{
    top: -18px;
    font-size: 12px;
    color: #9e9e9e;
}

.form__textarea{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    background:#f8f8f86c;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    resize: none;
    width: 100%;
    height: 140px;
    padding: 20px 25px;
    margin: 0 0 40px;
    transition: 0.3s ease-in;

}

.form__label-comment{
    top: 0px;
    left: 25px;
}

.form__textarea:focus {
    border: 1px solid #0057FF;
}

.form__textarea:focus ~ .form__label,
.form__textarea:not(:placeholder-shown) ~ .form__label {
    top: -18px;
    font-size: 12px;
    color: #9e9e9e;
}

.form__button {
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.faq {
    padding: 100px 0 50px;
}

.faq__wrapper {
    align-items: center ;
    
}

.faq__image {
    display: block;
    max-width: 100%;
}

.content-faq {
    max-width: 500px;
    margin: 0 40px 0 auto;
    
}

.faq__subtitile {
    margin: 0 0 48px;
}

.faq__text {
    margin: 0 0 57px;
}

.faq__list {
    border: 1px solid #E7E7E7;
    border-radius: 20px;
}

.faq__question {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 30px 30px 30px 40px;
    cursor: pointer;
    text-align: initial;
}

.faq__icon {
    display: block;
    transition: 0.4s ease-in;
    cursor: pointer;
}


.faq__list-item--active .faq__answer-container {
    max-height: 200px;
    opacity: 1;
    padding: 0 60px 30px 40px;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out,
    padding 0.4s ease-in-out; 
}


.faq__list-item--active .faq__icon {
    transform: rotate(45deg);
    transition: 0.4s ease-in;
}



.faq__answer-container {
    max-height: 0;
    padding: 0 60px 0 40px;
    opacity: 0;
    text-align: justify;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out,
    padding 0.4s ease-in-out;
    cursor: default;  
}    



.block {
    padding: 50px 0 100px;
}

.block__wrapper {
    justify-content: space-between;
}

.progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 540px;
}

.progress__subtitle{
    margin: 0 0 50px;
    max-width: 388px;
}

.progress__text {
    max-width: 500px;
    font-size: 14px;
    padding: 0 0 36px;
}

.progress-bar {
    
}

.progress-bar__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;
}

.progress-bar__item-description {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
    padding: 0 10px;
}

.progress-bar__item-title {
    font-size: 19px;
    line-height: 30px;
    text-transform: uppercase;

}
.progress-bar__item-percent {
    font-size: 20px;
    line-height: 30px;
}

.scale {
    width: 100%;
    height: 4px;
    background: #EBEBEB;
    border-radius: 100px;
}

.scale__colored {
    display: block;
    border-radius: 100px;
    height: 100%;
}

.scale__colored_first {
    background: #0057FF;
    width: 85%;
    
}

[data-aos="loading-1"].aos-animate {
   animation: loading-1 3s ease-in-out;
}

@keyframes loading-1 {
    0% {
        width: 0%; 
    }
    
    100% {
        width: 85%;
    }
}

.scale__colored_second {
    background: #B861FF;
    width: 65%;
}

[data-aos="loading-2"].aos-animate {
    animation: loading-2 4s ease-in-out;
 }
 
 @keyframes loading-2 {
     0% {
         width: 0%; 
     }
     
     100% {
         width: 65%;
     }
 }

.scale__colored_third {
    background: #FF8E32;
    width: 72%;
}

[data-aos="loading-3"].aos-animate {
    animation: loading-3 5s ease-in-out;
 }
 
 @keyframes loading-3 {
     0% {
         width: 0%; 
     }
     
     100% {
         width: 72%;
     }
 }

.price {
    box-shadow: 0px 8px 28px 0px #53535326;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.price__image-container {
    border-radius: 15px 15px 0 0;
    background: center no-repeat url(/Ava-App/img/price-image.png) ;
}

.price__image-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px 190px;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 30px;
    color: #ffffff;
}

.price__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 110px 40px;
}

.price__cost {
    font-size: 40px;
    line-height: 50px;
    position: relative;
    margin: 0 0 60px;
}

.price__cost::after {
    position: absolute;
    content: 'PER MOUNTH';
    font-size: 14px;
    line-height: 20px;
    width: 70px;
    left: 20px;
    top: 60px;
}

.price__list {
   align-self: flex-start;
   margin: 0 0 55px;    
}

.price__list-item {
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
}

.price__list-item:not(:last-child) {
    margin: 0 0 20px;
}

.price__button {
    width: 137px;
}

.reviews {
    padding: 100px 0 100px;
   
    

}

.swiper {
    width: calc(100vw - (100vw - 1200px) / 2);
}

.slider__wrapper {
    overflow: visible;
    
    
}

.swiper-card {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    max-width: 380px;
    max-height: 346px;
    padding: 45px 47px 41px;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    /* margin: 0 20px 0 0; */
}

.btn-swiper-right,
.btn-swiper-left {
    border: 1px solid rgba(231, 231, 231, 1);
    border-radius: 10px;
    box-shadow: 0px 11px 24px 0px rgba(0, 0, 0, 0.09);
    background-color: var(--light);
} 

.btn-swiper-left {
    transform: rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    display: none;
}



/* Стилизация стрелок у слайдера */
/* 
.btn-swiper-right:hover {
    animation: arrow-1 1s linear;
}

@keyframes arrow-1 {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}  */

/* ------------- */




.swiper-pagination {
    bottom: 10px;
}

.swiper-card__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 6px;
    text-align: center;
    
}

.swiper-card__image-container {
    margin: 0 0 20px;
}

.swiper-card__image {
    display: block;
}

.swiper-card__user {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.swiper-card__position {
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 10px;
}


.swiper-card__rating {
    display: flex;
}

.swiper-pagination-bullet {
    background-color: red;
}

.swiper-pagination-bullet-active {
    background: #222222;

}

.meeting {
    padding: 150px 0;
    background: center  no-repeat url(/Ava-App/img/meeting.png);
}

.meeting__wrapper {
    flex-direction: column;
    align-items: center;
    
}

.meeting__title {
    margin: 0 0 23px;
}

.meeting__text {
    font-size: 24px;
    line-height: 34px;
    max-width: 776px;
    margin: 0 0 37px;
    text-align: center;
}

.meeting__button {
    width: 161px;
}

.partners {
    padding: 65px 0;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}

.partners__wrapper {
    display: flex;
    padding: 0 13px;
    justify-content: space-between;
    align-items: center;
}

.partners__image {
    display: block;
}

.news {
    padding: 100px 0;
}

.news__wrapper {
    flex-direction: column;
    align-items: center;
}

.news__title {
    margin: 0 0 5px;
}

.news__subtitile {
    margin: 0 0 65px;
    text-align: center;
}


.recent-news {
    display: grid;
    gap: 16px;
    grid-template-areas: "A C"
                         "B C";
}   

.news-blog {
    display: flex;
    align-items: center;
    padding: 21px;
    border: 1px solid #D9DCEC;
    border-radius: 10px;
}

.news-blog_A {
    grid-area: A;
}

.news-blog_B {
    grid-area: B;
}



.blog-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 300px;
}


.blog-info__subtitle {
    margin: 0 0 24px;
    font-size: 20px;
    line-height: 30px;
}

.blog-info__text {
    font-size: 14px;
    line-height: 24px;
}


.news-blog_C {
    grid-area: C;
    
}

.news-blog__image-container {
   position: relative;
   transition: .5s ease-in-out;

}

.news-blog__image-container:hover {
    transform: scale(1.02);
    transition: .5s ease-in-out;
 }

.blog-info__subtitle_main {
    font-size: 40px;
    line-height: 50px;
    max-width: 450px;
}

.blog-info_main {
    position: absolute;
    max-width: 460px;
    bottom: 30px;
    left: 30px;
    
}

.footer {
    padding: 60px 0 50px;
    background: var(--footer-color);
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 0;
}

.footer-menu {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.footer-menu__item {
    color: #ffffff;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    padding: 5px 8px;
}

.footer-menu__item:hover{
    text-decoration: underline;
}

.copyright {
    align-self: end;
    justify-self: start;
    display: flex;

}

.copyright__text {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    text-transform: uppercase;
}

.copyright__text:first-child {
    position: relative;
    margin: 0 20px 0 0;
}

.copyright__text:first-child::after {
    position: absolute;
    content: '|';
    color: #D7D5FF;
    font-size: 12px;
    line-height: 22px;
    right: -13px;
}


.copyright__text-author {
    font-size: 11px;
    color: var(--light);
}

.footer__social {
    display: flex;
    justify-content: flex-end;

}

.social__item-link {
    display: flex;
    justify-content: center;
    padding: 14px;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(240, 242, 250, 0.33);
    border-radius: 50%;
}

.social__item-link:not(:last-child) {
    margin: 0 5px 0 0;
}

/* Social Animation */

.social__item-link {
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}

.social__item-link:first-child {
    animation-delay: 1s;
}

.social__item-link:nth-child(2) {
    animation-delay: 2s;
}

.social__item-link:nth-child(3) {
    animation-delay: 3s;
}

.social__item-link:last-child {
    animation-delay: 4s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    } 
}

/* ----------- */


.up-button {
    position: fixed;
    z-index: 100;
    bottom: 75px;
    right: 20px;
    width: 64px;
    height: 64px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    animation: disco 5s linear infinite;
    display: none;
}

.--shown {
    display: inline-block;
}

    @keyframes disco {
        0% {
            border-color: #f09636;
        }
        33% {
            border-color: #00adf9;
        }
        66% {
            border-color: #8a2eff;
        }
        100% {
            border-color: #f09636;
        }
    }


.up-button:hover {
    color: #0057FF;
    background-color: rgb(255, 255, 255);
  }


@media (max-width: 1200px) {
    .wrapper {
        padding: 0 20px;
    }

    .about {
        max-width: 400px;
    }

    .content-faq {
        margin: 0 auto 0 40px;
        display: flex;
        flex-direction: column;
    }

    .progress {
        max-width: 400px;
    }
    .recent-news {       
        grid-template-areas: "C"
                             "A"
                             "B";
    }  

    .swiper {
        width: calc(100vw - (100vw - 1000px) / 2);
    }

}


@media (max-width: 1024px) {
    .wrapper {
        padding: 0 30px;
    }

    .info {
        padding: 50px 0;
    }

    .info__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: ;
    }

    .about {
        text-align: center;
        max-width: 680px;
        margin: 0 0 100px;
    }

    .about__advantages {
        margin: 0 0 50px;
        justify-content: space-around;

    }

 

    .card {
        text-align: justify;
        align-items: center;
    }

    .button-container {
        align-self: center;
    }

    .faq {
        padding: 50px 0;
    }
    
    .block {
        padding: 50px 0;
    }

    .block__wrapper {
        flex-direction: column;
        align-items: center;
        
    }
    
    .progress {
        max-width: 680px;
        margin: 0 0 50px;
        text-align: center;
        
    }

    .progress__subtitle {
        max-width: 680px;
    }

    .progress__text {
        max-width: fit-content;
    }

    /* .price {
        width: 700px;
    }

    .price__image-container {
        background-size: cover;
    }

    .price__image-info {
        text-align: center;
    } */

    .swiper {
        width: calc(100vw - (100vw - 800px) / 2);
    }
}


@media (max-width: 900px) {
    .header__logo {
        margin: 0 auto 0 0;
    }


    .faq__image-container {
        display: none;
    }

    .faq__wrapper {
        justify-content: center;
    }

    .content-faq {
        max-width: 660px;
        margin: 0;
        text-align: center;
    }

    .partners__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px   ;
    }

    .partners {
        padding: 30px 0;
    }

    .partners__image-container {
        justify-self: center;
    }

    .promo__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .promo__description {
        width: 680px;
        text-align: center;
        align-items: center;
        margin: 0 0 20px;
    }
    
    .promo__image {
        width: 540px
    }

    .swiper {
        width: calc(100vw - (100vw - 700px) / 2);
    }
}


@media (max-width: 768px) {
    .wrapper {
        padding: 0 20px;
    }
 
    .technology {
        padding: 40px 0;
    }

 

    .faq__image-container {
        display: none;
    }

    .faq__wrapper {
        justify-content: center;
    }

    .content-faq {
        max-width: 660px;
        margin: 0;
        text-align: center;
    }

    .progress {
        max-width: 650px;
    }


    .swiper {
        width: calc(100vw - (100vw - 600px) / 2);
    }
  
    .burger > span {
        display: block;
        width: 28px;
        height: 2px;
        border-radius: 9999px;
        background: var(--text_color);
    }
    
    .burger > span:not(:last-child) {
        margin-bottom: 7px;
    }
    
    .burger, .burger > span {
        transition: all .3s ease-in-out;
    }
    
    .burger._active {
        transition-delay: 0.5s;
        transform: rotate(45deg);
    }
    
    .burger._active > span:nth-child(2)  {
        width: 0;
    }
    
    .burger._active > span:nth-child(1),
    .burger._active > span:nth-child(3)   {
        transition-delay: .3s;
    }
    
    .burger._active > span:nth-child(1)   {
        transform: translateY(9px);
    }
    
    .burger._active > span:nth-child(3)   {
        transform: translateY(-9px) rotate(90deg);
    }

    .burger {
        display: block;
        margin-left: 30px;
        z-index: 100;
    }

    .menu {
        display: none;
    }
        
    .menu_mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    top: -100%;
    left: 0;
    background-color: var(--light);
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-ouе;
    font-size: 30px;
    padding: 80px;
   
    overflow-y: auto;
    }

    .menu_mobile._active {
        top: 0;
    }

    body._lock {
        overflow: hidden;
    }

}


@media (max-width: 700px) {
  
    .promo__description {
        
        width: auto;
    }

    .promo__title {
        font-size: 45px;
        line-height: 50px;
    }
    
    .promo__image {
        width: 100%;   
    }

    .technology__image {
        width: 100%;
    }

    .subtitle {
        font-size: 30px;
        line-height: 35px;
    }

    .text {
        font-size: 14px;
        line-height: 25px;
    }

    .contact__image-container {
        width: 100%;
    }

    .contact__image {
        width: inherit;
    }


    .blog__image {
        width: inherit;
    }

    .news-blog {
        flex-direction: column;
        
    }

    .news-blog__image-container {
        width: 100%;
    }

    .blog-info {
        max-width: 100%;
        padding: 20px 0;
    }

    .partners__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 20px   ;
    }
    
    .price {
        max-width: 100%;
    }

    .form__user-contacts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .form__input {
        width: 100%;
    }

    .swiper {
        width: calc(100vw - (100vw - 500px) / 2);
    }
  
  
}

@media (max-width: 580px) {

    .header__button-container {
        display: none;
    }

    .about__advantages {
        grid-template-columns: repeat(1, 200px);
        row-gap: 20px;
    }

    .price__image-info {
        padding: 65px 150px;
    }

    .price__description {
        padding: 30px 50px 40px
    }

    .footer__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .footer__logo {
        justify-self: center;
    }

    .footer-menu {
        justify-content: start;
    }

    .footer__social {
        justify-content: center;
    }

    .copyright {
        order: 5;
    }

    .swiper {
        width: calc(100vw - (100vw - 350px) / 2);
    }
  
}

@media (max-width: 425px) {
    .technology__image-container {
        display: none;
    }

    .swiper {
        width: calc(100vw - (100vw - 300px) / 2);
    }

    .swiper-card {
        max-width: 300px;

    } 
}


@media (max-width: 320px) {

    .swiper-card {
        max-width: 280px;
    } 
}